@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 222 33% 100%;
    --foreground: 222 5% 10%;
    --card: 222 33% 100%;
    --card-foreground: 222 5% 15%;
    --popover: 222 33% 100%;
    --popover-foreground: 222 95% 10%;
    --primary: 222 100% 82.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 222 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 184 30% 95%;
    --muted-foreground: 222 5% 40%;
    --accent: 184 30% 90%;
    --accent-foreground: 222 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 222 5% 100%;
    --border: 222 30% 82%;
    --input: 222 30% 50%;
    --ring: 222 100% 82.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 50% 5%;
    --foreground: 222 5% 90%;
    --card: 222 50% 0%;
    --card-foreground: 222 5% 90%;
    --popover: 222 50% 5%;
    --popover-foreground: 222 5% 90%;
    --primary: 222 100% 82.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 222 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 184 30% 15%;
    --muted-foreground: 222 5% 60%;
    --accent: 184 30% 15%;
    --accent-foreground: 222 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 222 5% 90%;
    --border: 222 30% 18%;
    --input: 222 30% 18%;
    --ring: 222 100% 82.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background px-4 text-foreground h-screen w-full;
  }
}
